.user-component__subtitle i {
  color: white;
  font-size: 20px;
  background-color: tomato;
  border-radius: 50%;
  margin-left: 5px;
}

.more-screen .icon-row {
  margin-top: 30px;
}

.more-screen .incon-row2 {
  justify-content: flex-start;
  margin-top: 50px;
}

.more-screen .incon-row2 div:last-child {
  margin-left: 65px;
}

.more-suggestions {
  margin-top: 50px;
  border-top: var(--main-border);
  padding-top: 40px;
}
.more-suggestions__title {
  font-weight: 600;
  margin-bottom: 30px;
}

.more-suggestions__icons {
  display: flex;
  margin-right: 30px;
}
.more-suggestions_icon-image {
  font-size: 40px;
}
